body {
  margin: 0;
  background: #ddd;
  padding: 0;
}

.banner {
  width: 100%;
  height: 800px;
  display: block;
}

.footer {
  width: 100%;
}

.footer img {
  width: 100%;
  height: auto;
  display: block;
}
.navbar {
  background: #dce8d9;
  width: 100%;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  flex: 1;
  padding: 15px 25px;
  transition: 0.3s;
  text-align: center;
}

.navbar a {
  text-decoration: none;
  color: black;
  display: block;
}

.navbar li:hover {
  background: #96ef99;
  transform: scale(1.1);
}

.active {
  background: #96ef99;
}

.tieudesp {
  background: #93de80;
  padding: 15px;
  font-size: 24px;
  color: black;
  font-weight: bold;
  margin-top: 20px;
}

.sp-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (max-width: 768px) {
  .sp-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.sanpham {
  text-align: center;
}

.sanpham img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid black;
}

@media (max-width: 800px) {
  .sp-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .sp-container {
    grid-template-columns: 1fr;
  }
}

b {
  font-size: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

.price {
  font-size: 25px;
  color: red;
}
h3 {
  font-size: 25px;
}
